<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    注入集合类型属性值的依赖-->

    <!--    在这个界面注入依赖是: 配置对象依赖注入，将把对象的创建交给了Spring进行管理-->

        <!--    注入userDao依赖-->
        <bean id="userDao" class="com.lhw.dao.impl.UserDaoImpl3" >
<!--            进行集合数据类型注入，在userDaoImpl3进行注入-->
            <property name="strList" >
<!--                进行list集合数据类型注入-->
            <list>
<!--                在list集合添加值-->
                    <value>aaaa</value>
                    <value>bbbb</value>
                    <value>cccc</value>
                    <value>dddd</value>
            </list>
            </property>
            <property name="userMap">
<!--         进行map集合数据类型注入-->
                <map>
<!--                    键是普通数据类型，值是值对象引用-->
                 <entry key="u1" value-ref="user1"></entry>
                 <entry key="u2" value-ref="user2"></entry>
                </map>
            </property>

<!--            注入property集合类型-->
            <property name="properties">
                <props>
                    <prop key="p1">ppp1</prop>
                    <prop key="p2">ppp2</prop>
                    <prop key="p3">ppp3</prop>
                    <prop key="p4">ppp4</prop>
                </props>
            </property>
        </bean>

<!--    将要引用的类数据注入-->
        <bean id="user1" class="domain.User">
<!--            给引用的对象赋值-->
            <property name="name" value="tom"/>
            <property name="addr" value="beijing"/>
        </bean>
        <bean id="user2" class="domain.User">
<!--            给引用的对象赋值-->
            <property name="name" value="luxi"/>
            <property name="addr" value="tianjing"/>
        </bean>






        <bean id="userService" class="servlet.impl.UserServletImpl">
<!--            第一个userDao是内部参数构造名，第二是容器引用bean的Id参数名-->
            <constructor-arg name="userDao" ref="userDao"></constructor-arg>
        </bean>


</beans>